/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: rgb(243, 151, 65);
    padding: 16px;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 55px;
    margin-left: 15px;
}

nav {
    background-color: rgb(255, 200, 156);
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
    /*le da distancia automatica y movilidad entre las secciones*/
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(255, 97, 97, 0.3);
}

main {
    padding: 20px;
}


footer {
    background-color: rgb(77, 77, 77);
    clear: both;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

.holder {
    max-width: 1300px;
    margin: 0 auto;
}


h2 {
    color: rgb(245, 172, 112);
    text-align: center;
    font-family: italic;
    font-weight: bold;
    font-size: 40px;
    
}

.foto1 {
    text-align: center;
    margin-bottom: 20px;
}

.columnas {
    display: flex;
    justify-content: space-between;

}



.bienvenidos {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 50%;
    padding-bottom: 15px;
    font-style: italic;
    padding-right: 10px;
    box-sizing: border-box;
    border: 5px rgb(255, 200, 156) solid;
    text-align: center;
    border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;

}

.iniciosession {
    position: static;
    text-decoration: none;
    background-color: rgb(243, 188, 86);
    padding: 1%;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

a.iniciosession {
    color: black;
}

a.iniciosession:hover {
    background-color: rgb(255, 166, 0);
}


/* INICIO DE RECOMENDADOS*/



.recomendado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15Px;
    position: static;
}

.productos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 5px rgb(255, 200, 156) solid;
    padding: 10px;
    border-radius: 30px;
    width: 17%;
    margin-bottom: 40px;
}

.productos img{
    width: 200px;
    height: 200px;
    border: 5px rgb(255, 200, 156) solid;
    border-radius: 15px;
}

.productos h4{
    font-size: 20px;
    margin-bottom: 15px;
}

.productos h5{
    font-size: 15px;
    margin-top: 1px;

}

.precio{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:Arial ;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

